html{
	font-family: arial;
}

header{
	color: black;
	background-color: #E27d60;
	text-align: center;
	margin: 0;
	padding: 0;
	border-bottom: black solid 5px;
}

button:hover{
	cursor: pointer;
}

.heading{
	display: flex;
	height: 100px;
	background-color: black;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
}

.heading h1{
	color: white;
}

.nav-words{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.home-link{
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 0px 20px;
}

h2{
	text-align: center;
}

.front_info{
	display:  flex;
}

body{
	align-content: center;
	background-color: #eeeeee;
	border: solid black 2px;
}

.logo{
	padding: 5px 5px;
	margin: 0px 0px 0px 10px;
	display: block;
	height: 90%;
}

#intro-to-page{
	padding: 10px 10px;
	margin: 10px 30px;
	text-align: center;
}

.fun-image{
	height: 400px;
	width: 25%;
}

.Second-side-image{
	width: 25%;
	height: 400px;
}

.side-info{
	margin: 10px 100px;
	border-left: solid black 3px;
	border-right: solid black 3px;
	padding: 0px 10px;
	width: 45%;
}

.side-info h2{
	font-size: 24px;
}

.side-info p{
	font-size: 18px;
	text-align: justify-all;
}

.top_three{
	display:  flex;
	justify-content: center;
  margin: 40px 5px;
  height: 250px;
}

.container_one{
	display: block;
  border-right: 1px gray solid;
  padding: 5px 15px;
  width: 33%;
  position: relative;
}

.container_two{
	display: block;
  border-right: 1px gray solid;
  padding: 5px 15px;
  width: 33%;
  position: relative;
}

.container_three{
	display: block;
  border-right: 1px gray solid;
  padding: 5px 15px;
  width: 33%;
  position: relative;
}

.quiz_button {
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 1.5rem;
  padding: 10px 30px;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #999;
  width: 70%;
  position: absolute;
  bottom: 5px;
  left: 15%;
}

a{
	text-decoration:  none;
}

.quiz_button:hover{
	background-color: #444;
}

.gaming-header{
	background-color: #222;
}

.gaming-header img{
	height:	350px;
	width: 50%;
	border: solid gray 1px;
}

.hero-header{
	background-color: lightred;
}

.hero-header img{
	height: 350px;
	width:  50%;
	border: gray solid 1px;
}

.hero-html{
	background-color:  lightblue;
}

.clean-html{
	background-color: #86c129;
}

.clean-header{
	background-color: #0081e9;
}

.clean-header img{
	height: 350px;
	width: 50%;
	border: gray solid 1px;
}

label{
	padding: 10px 20px 0px 5px;
}

.companies{
	margin: 0 auto;
	display: block;
	width: 50%;
}

.radio-container{
	margin: 20px 40px 20px 10px;
}

.show{
	display: block;
}

.hide{
	display: none;
}

.ans:hover{
	cursor: pointer;
}
#submit-btn{
	margin: 50px auto;
	display: block;
	width: 50%;
	border-radius: 5px;
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color:  #aaa;
}

#submit-btn:hover{
	background-color: #555;
}

#results{
	margin: 0 auto;
	background-color: #ddd;
	color: black;
	width: max-content;
	align-text: center;
}

#results-text{
	margin: 10px 50px;
	text-align: center;
}

#result-image{
	margin: 10px auto;
	width: 500px;
	display: block;
}

#return-button{
	margin: 20px auto;
	display: block;
	width: 50%;
	border-radius: 5px;
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color:  #888;
}

#return-button:hover{
	background-color: #bbb;
}

.footer{
	background-color: black;
	color: white;
	margin: 0px;
	padding: 30px 5px;
}